<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Top</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
<div id="wrapper">
	<div class="block">
		<h1>About</h1>
	    <h2>Torrent analytics tool</h2>
        
		<p>This service was constructed for analytics in DHT network. Made by "Новая команда 1" team in 2014.</p>
	</div>
</div>
</body>
</html>
